{% extends 'base.html' %}

{% block title %}
    About
{% endblock %}

{% block about_active %}
    active
{% endblock %}


{% block content %}
<div class="row edit-row edit-mb-45">
                <h1 class="text-center  edit-mb-40  edit-color-primary font-weight-bold">About Flasketeers blog</h1>
                <div class="col-12">
                    <hr class="edit-hr-primary edit-mb-55">
                    <img src="../static/img/flask_programmers.jpg" alt="Image" class="img-fluid">
                </div>
            </div>
            <div class="row edit-row edit-mb-40">
                <div class="col-12">
                    <div class="mb-4">
                        <p>
                            Flasketeers the largest and most active community forum for Python Flask developers. You're welcome to share your code, ideas and questions about the most famous microframework.
                        </p>
                        <p>
                            I created flasketters for my Altschool second semester exam project, I used Flask microframework and jinja templates.
                        </p>
                        <p>
                            In today’s day and age, developers use standardized web app frameworks when people want quick results in website development and web application development. For every programming language, there are a lot of frameworks available in the market. Developers are using that as per their convenience and are also able to decrease their turnaround time. Rapid application development is the need of the art in today’s IT world, and that’s where these frameworks play a decisive role as they can speed up the web app development process.
                        </p>
                        <div class="container-fluid justify-content-center align-items-center">
                            <img src="../static/img/flask_banner.png" alt="Image" class="mx-auto w-50 mb-5 img-fluid">
                        </div>


                        <p>
                            Now, Python is one of the programming languages that has made a name for itself in the last few years. As per the Stack Overflow Developer Survey 2021, it is the third-most-popular programming language in the world with 48.24% popularity. If this is the case, there will be many people who want to develop web applications through Python. For that purpose, developers need to explore the topmost python web app framework, and Flask is one such framework that outranks the other frameworks as per the Python Developer Survey 2020.

                            With so much popularity among the developer community, there needs to be a platform for flask devs to rub minds and just like the three musketeers, I came up with flasketeers.
                        </p>
                    </div>
                </div>
            </div>
            <h1 class="text-center mb-5 edit-color-primary font-weight-bold">The three Flasketeers </h1>
            <div class="row edit-row edit-mb-120">
                <div class="col-lg-4 edit-about-col">
                    <div class="edit-bg-gray edit-about-pad">
                        <div class="text-center edit-mt-40 edit-mb-60">
                            <i class="fas fa-network-wired fa-4x edit-color-primary"></i>
                        </div>
                        <h2 class="mb-3 edit-color-primary edit-post-title">Learn</h2>
                        <p class="mb-0 edit-line-height-short">
                            Share your articles and documentations with experience developers
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 edit-about-col">
                    <div class="edit-bg-gray edit-about-pad">
                        <div class="text-center edit-mt-40 edit-mb-60">
                            <i class="fas fa-users-cog fa-4x edit-color-primary"></i>
                        </div>
                        <h2 class="mb-3 edit-color-primary edit-post-title">Collaborate</h2>
                        <p class="mb-0 edit-line-height-short">
                            Share your open-source projects for members to contribute
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 edit-about-col">
                    <div class="edit-bg-gray edit-about-pad">
                        <div class="text-center edit-mt-40 edit-mb-60">
                            <i class="fab fa-creative-commons-sampling fa-4x edit-color-primary"></i>
                        </div>
                        <h2 class="mb-3 edit-color-primary edit-post-title">Innovate</h2>
                        <p class="mb-0 edit-line-height-short">
                            Creativity is what makes flask interesting, keep innovating!
                        </p>
                    </div>
                </div>
            </div>
            <div class="row edit-row edit-mb-60">
                <div class="col-12">
                    <hr class="edit-hr-primary  edit-mb-55">
                </div>
                <div class="col-lg-6 edit-mb-60 edit-person-col">
                    <div class="media edit-person">
                        <img src="../static/img/me.png" alt="Image" class="edit-image mr-4">
                        <div class="media-body">
                            <h2 class="edit-color-primary edit-post-title mb-2">Joseph Tam</h2>
                            <h3 class="text-dark edit-h3 mb-3">Lead Developer</h3>
                            <p class="mb-0 edit-line-height-short">
                                Flask developer, graduate of Altschool Africa School of Engineering
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 edit-mb-60 edit-person-col">
                    <div class="media edit-person">
                        <img src="../static/img/caleb.png" alt="Image" class="edit-image mr-4">
                        <div class="media-body">
                            <h2 class="edit-color-primary edit-post-title mb-2">Emenike Caleb</h2>
                            <h3 class="text-dark edit-h3 mb-3">Code Instructor</h3>
                            <p class="mb-0 edit-line-height-short">
                                    Live Class Code Instructor at Altschool Africa's Backend Python Programme Specializing in Flask
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 edit-mb-60 edit-person-col">
                    <div class="media edit-person">
                        <img src="../static/img/kehinde.png" alt="Image" class="edit-image mr-4">
                        <div class="media-body">
                            <h2 class="edit-color-primary edit-post-title mb-2">Kehinde Ogunyale</h2>
                            <h3 class="text-dark edit-h3 mb-3">Python Code Tutor</h3>
                            <p class="mb-0 edit-line-height-short">
                                LMS Code Tutor at Altschool Africa's Backend Python Programme, Specializing in Flask
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 edit-mb-60 edit-person-col">
                    <div class="media edit-person">
                        <img src="../static/img/jerry.png" alt="Image" class="edit-image mr-4">
                        <div class="media-body">
                            <h2 class="edit-color-primary edit-post-title mb-2">Jerry Uke</h2>
                            <h3 class="text-dark edit-h3 mb-3">Program Director</h3>
                            <p class="mb-0 edit-line-height-short">
                                Tutor, director and organizer of Altschool Software Engineering Programmer
                            </p>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}